@font-face {
    font-family: 'PlutoSansExtraLight';
    src: url('http://elyseholladay.com/fonts/plutosans_exlight.eot');
    src: url('http://elyseholladay.com/fonts/plutosans_exlight.eot?#iefix') format('embedded-opentype'),
         url('http://elyseholladay.com/fonts/plutosans_exlight.woff') format('woff'),
         url('http://elyseholladay.com/fonts/plutosans_exlight.ttf') format('truetype'),
         url('http://elyseholladay.com/fonts/plutosans_exlight.svg#PlutoSansExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'PlutoSansRegular';
    src: url('http://elyseholladay.com/fonts/plutosans_regular.eot');
    src: url('http://elyseholladay.com/fonts/plutosans_regular.eot?#iefix') format('embedded-opentype'),
         url('http://elyseholladay.com/fonts/plutosans_regular.woff') format('woff'),
         url('http://elyseholladay.com/fonts/plutosans_regular.ttf') format('truetype'),
         url('http://elyseholladay.com/fonts/plutosans_regular.svg#PlutoSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}